body{
    height:100vh;
    background: url('numberguessinggame.jpg') no-repeat center center/cover;
    font-family: cursive;
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:auto;
    border:none;
    text-align:center;
    padding: 20px;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
}
#submit{
    padding:5px;
    outline: none;
}
button:hover{
    cursor:pointer;
    background-color: rgb(175, 92, 223);
}
#guess{
    padding:8px;
}

@media screen and (max-width: 768px){
    .game{
        border:none;
        text-align:center;
    }
}