body{
    height:100vh;
    background: linear-gradient(to bottom, #411c4f,#360e46,#2b033b);
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    width:45%;
    height:auto;
    border:none;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#submit{
    padding:5px;
    outline: none;
}
button:hover{
    cursor:pointer;
    background-color: rgb(175, 92, 223);
}
#guess{
    padding:8px;
}
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin:0;
}
input[type="number"]{
    -moz-appearance: textfield;
}
input:focus{
    outline:none;
} */
@media screen and (max-width: 768px){
    .game{
        width:100%;
        border:none;
        text-align:center;
    }
}